{% if  %}
    <div class="group-details-tank d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/tank-icon.png') }}"
             class="role-icon" alt="" width="50px"
             height="50px">
        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
        <p>{{ character.user.username }}</p>
    </div>
{% endif %}

{% if character.role == 'Healer' %}
    {% set healRole = true %}
    <div class="group-details-healer d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/healer-icon.png') }}"
             class="role-icon" alt="" width="50px"
             height="50px">
        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
        <p>{{ character.user.username }}</p>
    </div>
{% endif %}
    {% if loop.last %}
        {% if healRole is not defined %}
            <div class="group-details-healer d-flex flex-column align-items-center">
                <img src="{{ asset('build/images/looking-icon.png') }}"
                     class="role-icon" alt="" width="50px"
                     height="50px">
            </div>
        {% endif %}
    {% endif %}




