{% extends 'base.html.twig' %}

{% block title %}LFF - Home{% endblock %}

{% block body %}

    <div class="header-container">
        {% if app.user %}
            {% include '_navbar-connected.html.twig' %}
        {% else %}
            {% include '_navbar.html.twig' %}
        {% endif %}
    </div>
    {% for message in app.flashes('success') %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success alert-dismissible fade show d-flex col-md-8 col-lg-6 col-xl-4  mx-auto" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {% if not app.user %}
        <div class="faq-text-home d-flex flex-column justify-content-center">
            <p class="text-center">Welcome to Looking for Group ! </p>
            <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at atque aut
                cumque cupiditate dolor dolores in iste, maiores mollitia nesciunt omnis placeat rem saepe sapiente
                tenetur, voluptatem. Ipsa, necessitatibus. </p>
            <p class="text-center">But first, you need to register</p>
            <button class="btn btn-primary w-75 mx-auto"><a href="{{ path('app_register') }}">Create an account</a>
            </button>
        </div>
    {% endif %}
    <section id="last-three-groups-container">
        <div class="section-title">
            <p>Last 3 groups formed</p>
        </div>
        <div id="carousel-last-3-complete-groups" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-last-3-complete-groups" data-bs-slide-to="0"
                        class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-last-3-complete-groups" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-last-3-complete-groups" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <a href="{{ path('app_group_show', {id: last3[0].id}) }}">
                    <div class="carousel-item active ">
                        <div class="group-details group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ last3[0].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if last3[0].tank is not null %}
                                    {% set character = last3[0].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if last3[0].healer is not null %}
                                    {% set character = last3[0].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - last3[0].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for char in last3[0].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('app_group_show', {id: last3[1].id}) }}">
                    <div class="carousel-item">
                        <div class="group-details  group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ last3[1].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if last3[1].tank is not null %}
                                    {% set character = last3[1].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if last3[1].healer is not null %}
                                    {% set character = last3[1].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - last3[1].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for character in last3[1].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('app_group_show', {id: last3[2].id}) }}">
                    <div class="carousel-item">
                        <div class="group-details  group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ last3[2].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if last3[2].tank is not null %}
                                    {% set character = last3[2].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if last3[2].healer is not null %}
                                    {% set character = last3[2].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - last3[2].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for character in last3[2].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-last-3-complete-groups"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-last-3-complete-groups"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>



    <section id="home-last-incomplete-container">
        <div class="section-title">
            <p>Looking for Last</p>
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <a href="{{ path('app_group_show', {id: lookForLast[0].id}) }}">
                    <div class="carousel-item active">
                        <div class="group-details group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ lookForLast[0].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if lookForLast[0].tank is not null %}
                                    {% set character = lookForLast[0].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if lookForLast[0].healer is not null %}
                                    {% set character = lookForLast[0].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - lookForLast[0].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for character in lookForLast[0].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </a>
                <a href="{{ path('app_group_show', {id: lookForLast[1].id}) }}">
                    <div class="carousel-item">
                        <div class="group-details group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ lookForLast[1].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if lookForLast[1].tank is not null %}
                                    {% set character = lookForLast[1].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if lookForLast[1].healer is not null %}
                                    {% set character = lookForLast[1].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - lookForLast[1].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for character in lookForLast[1].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </a>
                <a href="{{ path('app_group_show', {id: lookForLast[2].id}) }}">
                    <div class="carousel-item">
                        <div class="group-details group-block d-flex flex-column">
                            <div class="group-details-name">
                                <p class="text-center mb-1 mt-1">{{ lookForLast[2].name }}</p>
                            </div>
                            <div class="first-row-group-details d-flex justify-content-around mt-3 ms-5 me-5">
                                {% if lookForLast[2].tank is not null %}
                                    {% set character = lookForLast[0].tank %}
                                    <div class="group-details-tank d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/tank-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                                {% if lookForLast[2].healer is not null %}
                                    {% set character = lookForLast[2].healer %}
                                    <div class="group-details-healer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/healer-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% else %}
                                    <div class="group-details-absent d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/looking-icon.png') }}"
                                             class="role-icon" alt="" width="50px"
                                             height="50px">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="second-row-group-details d-flex justify-content-around">
                                {% set ddAbsent = 3 - lookForLast[2].damageDealer|length %}
                                {% if (ddAbsent) > 0 %}
                                    {% for i in 1..ddAbsent %}
                                        <div class="group-details-absent d-flex flex-column align-items-center">
                                            <img src="{{ asset('build/images/looking-icon.png') }}"
                                                 class="role-icon" alt="" width="50px"
                                                 height="50px">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% for character in lookForLast[2].damageDealer %}
                                    <div class="group-details-damage-dealer d-flex flex-column align-items-center">
                                        <img src="{{ asset('build/images/damage-icon.png') }}"
                                             class="role-icon " alt="" width="50px"
                                             height="50px">
                                        <p class="group-details-char-pseudo mb-1">{{ character.pseudo }}</p>
                                        <p>{{ character.user.username }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
{% endblock %}
