<nav class="navbar navbar-dark navbar-expand-lg navbar-override">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Looking For Group</a>
        <div class="d-flex gap-4 align-items-center">
            <p class="username-navbar mb-0">{{ app.user.username }}</p>
            <a href="{{ path('app_notification_show') }}"><i
                        class="fa-solid fa-bell notifs-bell {% if app.user.unseenNotif | length == 0 %} notifs-empty {% endif %}"></i> {% if app.user.unseenNotif | length != 0 %}
                    <span class="notifs-number text-warning">{{ app.user.unseenNotif | length }} </span>{% endif %}</a>
            <button class="navbar-toggler burger-menu-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('app_user_show', {id:app.user.id}) }}">My profile</a>
                <a class="nav-link" href="{{ path('app_user_edit', {id:app.user.id}) }}">Edit profile</a>
                <a class="nav-link" href="{{ path('app_user_modifyPassword', {id:app.user.id}) }}">Modify password</a>
                <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
            </div>
        </div>

    </div>
</nav>