{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} - Edit{% endblock %}

{% block body %}
    {% include '_navbar-connected.html.twig' %}
    <h1 class="edit-title">Edit my password</h1>
    {{ form_start(form) }}
    <div class="row pt-1">
        <div class="col-8 mb-3 mx-auto">
            <div>
                {{ form_errors(form.password) }}
                <h6>{{ form_label(form.password) }}</h6>
                {{ form_widget(form.password, { attr : { class : "form-control mb-2"}}) }}
            </div>
        </div>
        <div class="col-8 mb-3 mx-auto">

            <p class="text-muted">
            <div>
                {{ form_errors(form.newPassword.pass) }}
                <h6>{{ form_label(form.newPassword.pass) }}</h6>
                {{ form_widget(form.newPassword.pass, { attr : { class : "form-control mb-2"}}) }}
            </div>
            </p>
        </div>
        <div class="col-8 mb-3 mx-auto">

            <p class="text-muted">
            <div>
                {{ form_errors(form.newPassword.confirm) }}
                <h6>{{ form_label(form.newPassword.confirm) }}</h6>
                {{ form_widget(form.newPassword.confirm, { attr : { class : "form-control mb-2"}}) }}
            </div>
            </p>
        </div>

    </div>
    <div class="align-password-button">
    <div class="d-flex justify-content-center align-items-center">
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}